.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .header{
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background-color: bisque;
}

.header .nav{
  display: flex;
  justify-content: center;
}

.nav ul{
  display: flex;
  list-style: none;
}

.nav a{
  text-decoration: none;
}
.nav ul li{
  margin: 10px;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

.layout {
  /* background-color: rgb(205, 205, 205); */
  color: white;
  height: 100vh;
}

/* .logo{
  position: relative;
  margin-top: 18px;
}

.logo img{
  width: 80px;
  margin: 0px 6px;
} */



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
